<section class="about-us top-space">
  <div class="container">
    <div class="about-us__content">
      <h2 class="section__title">
        We Create The Art Of Stylish Living Stylishly
      </h2>
      <p class="about-us__text">
        It is a long established fact that a reader will be distracted by the of
        readable content of a page when lookings at its layouts the points of
        using that it has a more-or-less normal.
      </p>
      <a href="tel:012345678" class="link">
        <div class="about-us__contact">
          <svg class="icon-call" width="93px" height="93px">
            <use href="./images/icon.svg#icon-call"></use>
          </svg>
          <p>
            <span class="phone-number">012345678</span> <br />
            Call Us Anytime
          </p>
        </div>
      </a>

      <button type="button" class="btn primary">
        Get Free Estimate
        <svg class="icon-vector" width="15px" height="13px">
          <use href="./images/icon.svg#icon-vector"></use>
        </svg>
      </button>
    </div>

    <div class="about-us__img">
      <img src="./images/about-us.jpg" alt="our kitchen design" />
    </div>
  </div>
</section>
