<section class="blog top-space">
  <div class="container">
    <h2 class="section__title">Articles & News</h2>
    <p class="blog__text">
      It is a long established fact that a reader will be distracted by the of
      readable content <br />
      of a page when lookings at its layouts the points of using.
    </p>
    <ul class="blog__list list">
      <li class="blog__item">
        <article class="blog__card">
          <div class="card__thumb">
            <img src="./images/blog-img-1.jpg" alt="" />
          </div>
          <div class="card__content">
            <h3 class="blog__title">
              Let’s Get Solution For Building Construction Work
            </h3>
            <a href="" class="link">26 December,2022 </a>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog__card">
          <div class="card__thumb">
            <img src="./images/blog-img-2.jpg" alt="" />
          </div>
          <div class="card__content">
            <h3 class="blog__title">
              Best For Any Office & Business Interior Solution
            </h3>
            <a href="" class="link">25 December,2022 </a>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog__card">
          <div class="card__thumb">
            <img src="./images/blog-img-3.jpg" alt="" />
          </div>
          <div class="card__content">
            <h3 class="blog__title">
              Low Cost Latest Invented Interior Designing Ideas.
            </h3>
            <a href="" class="link">22 December,2022 </a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
