<section class="client-responce top-space">
  <div class="container">
    <h2 class="section__title">
      What the People Thinks <br />
      About Us
    </h2>
    <ul class="responce__list list">
      <li class="responce__item">
        <article class="card">
          <div class="card__thumb">
            <img
              src="./images/client-responce-1.jpg"
              alt="Nattasha Mith About Us"
              class="card__img"
            />
            <div class="card__meta">
              <h3 class="card__name">Nattasha Mith</h3>
              <p>Sydney, USA</p>
            </div>
          </div>
          <div class="card__content">
            Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum
            has been.
          </div>
        </article>
      </li>
      <li class="responce__item">
        <article class="card">
          <div class="card__thumb">
            <img
              src="./images/client-responce-2.jpg"
              alt="Nattasha Mith About Us"
              class="card__img"
            />
            <div class="card__meta">
              <h3 class="card__name">Raymond Galario</h3>
              <p>Sydney, Australia</p>
            </div>
          </div>
          <div class="card__content">
            Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum
            has been scrambled it to make a type book.
          </div>
        </article>
      </li>
      <li class="responce__item">
        <article class="card">
          <div class="card__thumb">
            <img
              src="./images/client-responce-3.jpg"
              alt="Nattasha Mith About Us"
              class="card__img"
            />
            <div class="card__meta">
              <h3 class="card__name">Benny Roll</h3>
              <p>Sydney, New York</p>
            </div>
          </div>
          <div class="card__content">
            Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum
            has been scrambled.
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
