<section class="clients top-space">
  <div class="container">
    <ul class="clients__list list">
      <li class="client__item">
        <svg width="131px" height="42px">
          <use href="./images/icon.svg#icon-client1"></use>
        </svg>
      </li>
      <li class="client__item">
        <svg width="102px" height="102px">
          <use href="./images/icon.svg#icon-client2"></use>
        </svg>
      </li>
      <li class="client__item">
        <svg width="163px" height="42px">
          <use href="./images/icon.svg#icon-client3"></use>
        </svg>
      </li>
      <li class="client__item">
        <svg width="145px" height="44px">
          <use href="./images/icon.svg#icon-client4"></use>
        </svg>
      </li>
      <li class="client__item">
        <svg width="117px" height="47px">
          <use href="./images/icon.svg#icon-client5"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
