<header class="header">
  <div class="container">
    <nav class="navigation">
      <a href="./index.html" class="logo link">
        <svg class="icon-logo" width="34px" height="34px">
          <use href="./images/icon.svg#icon-logo"></use>
        </svg>
        <span class="logo__interno">Interno</span>
      </a>

      <ul class="navigation__list list">
        <li class="navigation__item">
          <a href="./index.html" class="navigation__link current link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="./partials/page-about-us.html" class="navigation__link link"
            >About Us</a
          >
        </li>
        <li class="navigation__item">
          <a href="./partials/page-services.html" class="navigation__link link"
            >Services</a
          >
        </li>
        <li class="navigation__item">
          <a
            href="./partials/page-our-project.html"
            class="navigation__link link"
            >Project</a
          >
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link link">Blog</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link link">Contact</a>
        </li>
      </ul>

      <a class="navigation__search link">
        <svg class="icon-search">
          <use href="./images/icon.svg#icon-search"></use>
        </svg>
      </a>
    </nav>
  </div>
</header>
