<section class="counter top-space bottom-space">
  <div class="container">
    <ul class="counter__list list">
      <li class="counter__item">
        <span class="counter__number">12</span
        ><span class="counter__text"> Years Of Experiance</span>
      </li>
      <li class="counter__item">
        <span class="counter__number">85</span
        ><span class="counter__text"> Success Project</span>
      </li>
      <li class="counter__item">
        <span class="counter__number">15</span
        ><span class="counter__text"> Active Project</span>
      </li>
      <li class="counter__item">
        <span class="counter__number">95</span
        ><span class="counter__text"> Happy CUstomers</span>
      </li>
    </ul>
  </div>
</section>
