<section class="work top-space">
  <div class="container">
    <ul class="work__list list">
      <li class="work__item">
        <h3 class="section__subtitle">Project Plan</h3>
        <p class="work__text">
          There are many variations of the passages of lorem Ipsum from
          available, majority.
        </p>
        <a href="" class="work-link link"
          >Read More
          <svg class="icon-vector" width="15px" height="13px">
            <use href="./images/icon.svg#icon-vector"></use>
          </svg>
        </a>
      </li>
      <li class="work__item">
        <h3 class="section__subtitle">Interior Work</h3>
        <p class="work__text">
          There are many variations of the passages of lorem Ipsum from
          available, majority.
        </p>
        <a href="" class="work-link link"
          >Read More
          <svg class="icon-vector" width="15px" height="13px">
            <use href="./images/icon.svg#icon-vector"></use>
          </svg>
        </a>
      </li>
      <li class="work__item">
        <h3 class="section__subtitle">Realization</h3>
        <p class="work__text">
          There are many variations of the passages of lorem Ipsum from
          available, majority.
        </p>
        <a href="" class="work-link link"
          >Read More
          <svg class="icon-vector" width="15px" height="13px">
            <use href="./images/icon.svg#icon-vector"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
