<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    />

    <link rel="stylesheet" href="../sass/index.scss" />
    <script type="module" src="../index.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="navigation">
          <a href="" class="logo link">
            <svg class="icon-logo" width="34px" height="34px">
              <use href="../images/icon.svg#icon-logo"></use>
            </svg>
            <span class="logo__interno">Interno</span>
          </a>

          <ul class="navigation__list list">
            <li class="navigation__item">
              <a href="" class="navigation__link current link">Home</a>
            </li>
            <li class="navigation__item">
              <a href="" class="navigation__link link">Pages</a>
            </li>
            <li class="navigation__item">
              <a href="" class="navigation__link link">Services</a>
            </li>
            <li class="navigation__item">
              <a href="" class="navigation__link link">Project</a>
            </li>
            <li class="navigation__item">
              <a href="" class="navigation__link link">Blog</a>
            </li>
            <li class="navigation__item">
              <a href="" class="navigation__link link">Contact</a>
            </li>
          </ul>

          <a class="navigation__search link">
            <svg class="icon-search">
              <use href="../images/icon.svg#icon-search"></use>
            </svg>
          </a>
        </nav>
      </div>
    </header>
    <main>
      <section class="page-hero single-pr">
        <div class="container"></div>
      </section>

      <section class="top-space">
        <div class="container">
          <div class="single-flex">
            <div class="single-pr-info">
              <ul class="single-pr-list list">
                <li class="single-pr-item">
                  <span class="single-pr-bold">Client</span
                  ><span class="single-pr-text">Your client name </span>
                </li>
                <li class="single-pr-item">
                  <span class="single-pr-bold">Category</span
                  ><span class="single-pr-text">Interiors </span>
                </li>
                <li class="single-pr-item">
                  <span class="single-pr-bold">Tags</span
                  ><span class="single-pr-text">interior, Home</span>
                </li>
                <li class="single-pr-item">
                  <span class="single-pr-bold">Date</span
                  ><span class="single-pr-text">Date 23,02, 2022</span>
                </li>
                <li class="single-pr-item">
                  <span class="single-pr-bold">Link</span
                  ><span class="single-pr-text">Link example.com</span>
                </li>
              </ul>
            </div>
            <div class="single-pr-descr">
              <h2 class="section__title">Minimal Look Bedrooms</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquamsem vitae turpis dignissim maximus. Aliquam sollicitudin
                tellumassa, vbel maximus purus posuere in. Dojrices gravida
                dignissim. Praesent at nibh in mi fringilla mattis. Phasellus ut
                dolor odio. Aenean in the ipsum vel lectus bibendum commodo.
              </p>
              <p>
                In nec sem suscipit, convallis leo vitae, lacinia nibh. Cras
                amet tellus lectus. Vivamus ipsum nunc, mattis quis nibh id,
                pellentesque arcu. Donec a pellentesque Cras erat enim, gravida
                non ante vitae,elequis convallis elit, in viverra felis. Donec
                ultrices tellus vitae iaculisvd porta. Proin tincidunt ligula id
                purus porttitor.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- <footer class="footer top-space">
      <div class="container">
        <div class="footer__interno">
          <a href="" class="logo link">
            <svg class="icon-logo" width="34px" height="34px">
              <use href="../images/icon.svg#icon-logo"></use>
            </svg>
            <span class="logo__interno">Interno</span>
          </a>
          <p>
            It is a long established fact that a reader will be distracted
            lookings.
          </p>
        </div>
        <div class="footer__pages">
          <h3 class="footer__subtitle">Pages</h3>
          <ul class="footer__list list">
            <li><a href="">About Us</a></li>
            <li>Our Projects</li>
            <li>Our Team</li>
            <li>Contact Us</li>
            <li>Services</li>
          </ul>
        </div>
        <div class="footer__services">
          <h3 class="footer__subtitle">Services</h3>
          <ul class="footer__list list">
            <li>Kitchan</li>
            <li>Living Area</li>
            <li>Bathroom</li>
            <li>Dinning Hall</li>
            <li>Bedroom</li>
          </ul>
        </div>
        <div class="footer__contact">
          <h3 class="footer__subtitle">Contact</h3>
          <address class="footer__address">
            <p>
              <a
                href="https://www.google.com/maps/place/55+E+Birchwood+Ave,+Nyack,+NY+10960,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@41.1043829,-73.9213315,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2c1e3e207b7e1:0x2139d5f55f08a0d4!8m2!3d41.1043789!4d-73.9191428"
                class="link"
                >55 East Birchwood Ave. Brooklyn, New York 11201</a
              >
            </p>
            <p>
              <a href="mailto:contact@interno.com" class="link"
                >contact@interno.com
              </a>
            </p>
            <p><a href="tel:1234567890" class="link">(123) 456 - 7890</a></p>
          </address>
        </div>
      </div>
    </footer>
    <div class="container" style="text-align: center">
      Copyright © Interno | Designed by Victorflow Templates - Powered by
      Webflow
    </div> -->
  </body>
</html>
