<section class="project top-space">
  <div class="container">
    <h2 class="section__title">Follow Our Projects</h2>
    <p class="project__text">
      It is a long established fact that a reader will be distracted by the of
      readable <br />
      content of page lookings at its layouts points.
    </p>
    <ul class="project__list list">
      <li class="project__item">
        <article>
          <div class="card__thumb border-right-top">
            <img src="./images/project-1.jpg" alt="" />
          </div>
          <div class="card__meta">
            <div class="card__subscription">
              <h3>Modern Kitchan</h3>
              <p>Decor / Artchitecture</p>
            </div>
            <div class="card__icon">
              <a href="">
                <svg width="70px" height="70px">
                  <use href="./images/icon.svg#icon-next"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="project__item">
        <article>
          <div class="card__thumb border-left-top">
            <img src="./images/project-2.jpg" alt="" />
          </div>
          <div class="card__meta">
            <div class="card__subscription">
              <h3>Modern Kitchan</h3>
              <p>Decor / Artchitecture</p>
            </div>
            <div class="card__icon">
              <a href="">
                <svg width="70px" height="70px">
                  <use href="./images/icon.svg#icon-next"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="project__item">
        <article>
          <div class="card__thumb border-right-bottom">
            <img src="./images/project-3.jpg" alt="" />
          </div>
          <div class="card__meta">
            <div class="card__subscription">
              <h3>Modern Kitchan</h3>
              <p>Decor / Artchitecture</p>
            </div>
            <div class="card__icon">
              <a href="">
                <svg width="70px" height="70px">
                  <use href="./images/icon.svg#icon-next"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="project__item">
        <article>
          <div class="card__thumb border-left-bottom">
            <img src="./images/project-4.jpg" alt="" />
          </div>
          <div class="card__meta">
            <div class="card__subscription">
              <h3>Modern Kitchan</h3>
              <p>Decor / Artchitecture</p>
            </div>
            <div class="card__icon">
              <a href="">
                <svg width="70px" height="70px">
                  <use href="./images/icon.svg#icon-next"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
