.work__list {
    display: flex;
    gap: 40px;
}

.work__item {
    text-align: center;
}

.work__text {
    margin-top: 20px;
    margin-bottom: 52px;
}

.work__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.25;
}