.header {
    padding-top: 44px;
    padding-bottom: 57px;
}

.navigation {
    @include flex-center;
}

.navigation__list {
    display: flex;
    margin-left: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 40px;
    align-items: center;
}

.navigation__item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .navigation__link,
    &:focus .navigation__link {
        color: $accent-color;
    }
}


.logo__interno {
    margin-left: 10px;

    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.25;
}

.icon-search {
    @include flex-center;

    margin-left: 30px;
    width: 21px;
    height: 21px;
}