.page-hero {
    width: 1920px;
    height: 356px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 178px;

    background-image: url(../images/about-hero.jpg);
    background-repeat: no-repeat;

    
}

.title-background {
    width: 503px;
    height: 178px;
    margin-left: auto;
    margin-right: auto;
    padding: 41px 150px;
    background-color: #fff;
    border-radius: 37px 37px 0px 0px;

    .section__title {
        text-align: center;
    }
    .title-descr{
        text-align: center;
    }
}